body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 5rem 15rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  cursor: e-resize;
}

h1:hover .hand-emoji {
  visibility: visible;
  opacity: 1;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
}

small {
  font-size: 1rem;
}

a {
  color: #2D89EF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  margin: 2rem 0;
}

.hand-emoji {
  display: inline;
  visibility: hidden;
  opacity: 0;
  margin-left: 1rem;
}

.emoji-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.emoji-list li {
  margin: 1rem 0;
}

.emoji-list li a {
  font-weight: 500;
  color: #000;
}

.emoji-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 2rem;
  width: 3rem;
}

.emoji-content {
  display: inline;
  vertical-align: middle;
}

.tag {
  border-bottom: 1px solid #EEE;
  padding: 0.3rem;
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.tags-list {
  display: inline;
}

.tags-list .tag {
  margin-left: 1rem;
  border: 1px solid #EEE;
  border-radius: 0.25rem;
}

.tags-list .tag-developer {
  border-color: #2D89EF;
  color: #2D89EF;
}

.tags-list .tag-co-founder {
  border-color: #612def;
  color: #612def;
}

.social-links a + a {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
    margin: 2rem;
  }

  .emoji-icon {
    font-size: 1.5rem;
    width: 2.5rem;
  }

  .social-links a + a{
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}
