body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 5rem 15rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.show-on-hover {
  visibility: hidden;
  font-size: 0.85rem;
}

.show-on-hover-container {
  cursor: e-resize;
}

.show-on-hover-container:hover .show-on-hover {
  visibility: visible;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin: 0.5rem 0 1rem 0;
}

a {
  color: #2D89EF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.emoji-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.emoji-list li {
  margin: 0 0 1.5rem 0;
  display: flex;
  align-items: center;
}

.emoji-list li:last-child {
  margin-top: 2rem;
  margin-bottom: 0.85rem;
}

.emoji-icon {
  font-size: 1rem;
  width: 1.75rem;
}

.social-links a + a {
  display: inline-block;
  margin-left: 1.5rem;
}

@media screen and (max-width: 1200px) {
  body {
    margin: 1.5rem;
  }

  .social-links a + a {
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}
