body {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 5rem 15rem;
}

h1 {
  font-size: 2rem;
  margin: 0;
  cursor: e-resize;
}

h1:hover .made-with-love {
  display: inline;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem 0;
}

a {
  color: #2D89EF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.section {
  margin: 2rem 0;
}

.made-with-love {
  display: none;
  margin-left: 3rem;
  font-weight: 300;
}

.emoji-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.emoji-list li {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.emoji-list li a {
  font-weight: 500;
  color: #000;
}

.emoji-icon {
  font-size: 2rem;
  width: 3rem;
}

.tag {
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.tags-list {
  display: inline;
  margin-left: 1rem;
}

.tags-list .tag {
  color: #2D89EF;
  font-weight: 500;
}

.social-links a + a {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 992px) {
  body {
    font-size: 14px;
    margin: 2rem;
  }

  .emoji-icon {
    font-size: 1.5rem;
    width: 2.5rem;
  }

  .social-links a + a{
    display: block;
    margin-left: 0;
    margin-top: 1rem;
  }
}
